########C##########
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
##########C END##########
hsrb
lisprb
ocamlrb
ocamlrb.cmi
ocamlrb.cmx
crb
crb-vec
*.ppm
csrb.exe.mdb
*.beam
*.hi
test.txt
nimcache
crb.omp
gorb
nimrb
nimrb_dbl
